@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

@import 'tailwindcss';

@theme {
  --color-ietf-300: #50b2df;
  --color-ietf-800: #02a1d7;
  --color-ietf-900: #002d3c;
  --color-ietf-950: #00202b;
}
